- var siteNavigation = [{navigationLink: "#",linkName: "Woman"},{navigationLink: "#",linkName: "Man"},{navigationLink: "#",linkName: "New"}];
- var siteFooterNavigation = [{linkUrl: "#", linkName: "Shop"},{linkUrl: "#", linkName: "Delivery"},{linkUrl: "#", linkName: "Service"},{linkUrl: "#", linkName: "Sitemap"},{linkUrl: "#", linkName: "Contacts"}];
- var socials = [{linkUrl: "#", linkTitle: "We are on Vkontakte", linkClass: "socials__link--vk"},{linkUrl: "#", linkTitle: "We are on YouTube", linkClass: "socials__link--yt"},{linkUrl: "#", linkTitle: "We are on Pinterest", linkClass: "socials__link--pin"},{linkUrl: "#", linkTitle: "We are on Twitter", linkClass: "socials__link--tw"}]
