extends ../layout/main-template.pug

block vars
  - var pageTitle = "Card product | Nimes - online store of jeans";
  - var htmlClass = "card-page";
  - var bodyClass = "card-page__body";

block prepend styles
  link(rel="stylesheet", href="libs/css/swiper-bundle.min.css")

block content
  include ../sections/_card-main.pug

block prepend scripts
  script(src="libs/js/swiper-bundle.min.js")
