extends ../layout/main-template.pug

block vars
  - var pageTitle = "Card product | Nimes - online store of jeans";
  - var htmlClass = "card-page";
  - var bodyClass = "card-page__body";

block content
  include ../sections/_card-main.pug
