extends ../layout/main-template.pug

block vars
  - var pageTitle = "Catalog | Nimes - online store of jeans";
  - var htmlClass = "catalog-page";
  - var bodyClass = "catalog-page__body";

block content
  include ../sections/_catalog-main.pug
