extends ../layout/main-template.pug

block vars
  - var pageTitle = "Nimes - online store of jeans";
  - var htmlClass = "index-page";
  - var bodyClass = "index-page__body";

block content
  include ../sections/_index-main.pug
