@mixin font($name, $font-family, $weight) {
  @font-face {
    src:
      local(""),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin px375 {
  @media (max-width: 375px) {
    @content;
  }
}

// @include px375 {}

@mixin px500 {
  @media (max-width: 500px) {
    @content;
  }
}

// @include px500 {}

@mixin px720 {
  @media (max-width: 720px) {
    @content;
  }
}

// @include px720 {}

@mixin px810 {
  @media (max-width: 810px) {
    @content;
  }
}

// @include px810 {}
