$sans-serif: "Work Sans", "Helvetica", "Verdana", sans-serif;
$serif: "Times New Roman", "Georgia", "Baskerville", serif;
$color-white: #fff;
$color-black: #000;
$color-bunker: #151c22;
$color-athens-gray: #f1f2f4;
$color-rolling-stone: #727a82;
$color-mercury: #e5e5e5;
$color-outline: #0bf;
