section.bestsellers.index-page__bestsellers#bestsellers
  .container
    .section-header.bestsellers__section-header
      h2.section-header__title Bestsellers
      a(href="#").section-header__link View all
    ul.products
      +products-card(bestsellers)
