section.product.card-page__product
  form(action="#")
    article.full-card.product__card
      .product__gallery
        include _product-card-gallery.pug
      .product__info
        include _product-card-description.pug
