section.catalog.catalog-page__catalog
  .container
    h2.visually-hidden Catalog of women's jackets
    div.catalog__filter.sort-filter
      form(action="#", method="get").sort-filter__form
        .sort-filter__wrapper
          label(for="sort-products").visually-hidden Sort products by
          select#sort-products(name="sort-products").sort-filter__select
            option(value="") Filter by
            option(value="price-low-to-high") Price: Low to High
            option(value="price-high-to-low") Price: High to Low
            option(value="name-from-a-to-z") Name: A-z
            option(value="name-from-z-to-a") Name: Z-a
    ul.products.catalog__products.catalog-page__products
      +products-card(pugData.catalogJackets)
    .cards-counter.catalog__cards-counter
      p.cards-counter__text Showing #[span.cards-counter__current 8] of #[span.cards-counter__total 45] items
      span.cards-counter__progress-line
    .catalog__load-more-button
      button(type="button").button.button--more Load more

