section.catalog-top
  .container.catalog-top__container
    .catalog-top__text-content
      ul.breadcrumbs.catalog-top__breadcrumbs
        +breadcrumbs(breadcrumbs)
      h1.catalog-top__title Denim collection #[br] fall 2019
    .catalog-top__media-content
      img(src="img/catalog-top-image.jpg" width="299" height="260", alt="Denim collection fall 2019").catalog-top__image
