section.categories.index-page__categories
  .container
    .section-header.categories__section-header
      h2.section-header__title Shop by category
      a(href="#").section-header__link View all
    ul.products.categories__products
      +products-card(categories)
