section.extra.card-page__extra
  .container
    .section-header.extra__section-header
      h2.section-header__title You may also like
      a(href="#").section-header__link View all
    ul.products.extra__products
      +products-card(extraProducts)
