section.hero.index-page__hero
  .container.hero__container
    h1.visually-hidden Nîmes - online store denim wear
    a(href="#").hero__link-arrow
    .hero__content
      .hero__text-content
        p.hero__slogan The quality you deserve
        span.hero__slogan-subject Denim
        .hero__button
          a(href="#").button.button--hero Check new collection
      .hero__media-content
        img(src="img/hero-image.jpg" width="430" height="517", alt="Girl in a denim jacket from the store Nîmes").hero__image
