section.news.index-page__news
  .container
    .section-header.news__section-header
      h2.section-header__title News
      a(href="#").section-header__link View all
    article.news-post.news__post
      .news-post__image-wrapper
        img(src="img/content/news-post.jpg" width="700" height="370", alt="G- Star Updates Its Sustainable Collection").news-post__image
      .news-post__outer
        .news-post__inner
          h3.news-post__title G- Star Updates Its Sustainable Collection
          time(datetime="2020-02-12").news-post__date Feb 12, 2020
          p.news-post__description G-Star Raw is pushing the sustainability movement forward with a collection of stretch denim items for spring 2020 which is particularly designed for reuse...
          a(href="#").button.button--news-post Read more ...
