.full-card__info.full-card-info.product-card__decription
  .full-card-info__content
    h1.full-card-info__title Overalls
    p.full-card-info__description Overalls in washed organic cotton denim. Collar, button fly, and adjustable belt at waist. Chest pockets with flap. Long, gently flared sleeves and straight legs with front pockets and back pockets.
    .full-card-info__color.full-card-color
      h2.full-card__subtitle Color
      .full-card-color__selection
        label(for="color_1" class="visually-hidden") Gray
        input(type="radio", name="color" id="color_1" style="background-color: #b0c3c7;" checked).full-card-color__item
        label(for="color_2" class="visually-hidden") Blue
        input(type="radio", name="color" id="color_2" style="background-color: #3b6392;").full-card-color__item
        label(for="color_3" class="visually-hidden") Silver
        input(type="radio", name="color" id="color_3" style="background-color: #bfc3c8;").full-card-color__item
    .full-card-info__size.full-card-size
      h2.full-card__subtitle Size
      .full-card-size__selection
        input(type="radio", tabindex="0" name="size" id="size_1" class="full-card-size__item")
        label(for="size_1" class="full-card-size__label") XS
        input(checked type="radio", tabindex="0" name="size" id="size_2" class="full-card-size__item")
        label(for="size_2" class="full-card-size__label") S
        input(type="radio", tabindex="0" name="size" id="size_3" class="full-card-size__item")
        label(for="size_3" class="full-card-size__label") M
        input(type="radio", tabindex="0" name="size" id="size_4" class="full-card-size__item")
        label(for="size_4" class="full-card-size__label") L
        input(type="radio", tabindex="0" name="size" id="size_5" class="full-card-size__item")
        label(for="size_5" class="full-card-size__label") XL
    p.full-card-info__price $160
    .full-card-info__button
      button(type="submit").button.button--to-cart Add to cart
