.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item:not(:last-of-type) {
  margin-right: 11px;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: "/";
  padding-left: 7px;
  color: $color-rolling-stone;
}

.breadcrumbs__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: $color-rolling-stone;
}

.breadcrumbs__link--active {
  color: $color-bunker;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}
