.catalog-top {
  background-color: $color-athens-gray;

  @include max-md {
    padding-top: 60px;
  }
}

.catalog-top__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -7px;

  @include max-lg {
    justify-content: space-between;
  }

  @include max-md {
    flex-direction: column;
  }
}

.catalog-top__text-content {
  padding-top: 4px;

  @include max-md {
    align-self: flex-start;
    margin-bottom: 40px;
  }
}

.catalog-top__breadcrumbs {
  margin-bottom: 26px;

  @include max-md {
    margin-bottom: 16px;
  }
}

.catalog-top__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  max-width: 334px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  text-transform: capitalize;
  color: $color-bunker;

  @include max-md {
    max-width: 100%;
  }
}

.catalog-top__media-content {
  position: relative;
  margin-right: 71px;
  margin-left: 67px;

  @include max-xl {
    margin-right: 30px;
    margin-left: 110px;
  }

  @include max-lg {
    margin-right: 30px;
    margin-left: 60px;
  }

  @include max-md {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.catalog-top__media-content::before {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 1;
  width: 232px;
  height: 176px;
  background-image: url("../img/decor/catalog-top-right-decor.png");
  background-repeat: no-repeat;

  @include max-xxs {
    right: -15px;
  }
}

.catalog-top__media-content::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 175px;
  height: 135px;
  background-image: url("../img/decor/catalog-top-left-decor.png");
  background-repeat: no-repeat;

  @include max-xxs {
    left: -15px;
  }
}

.catalog-top__image {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
