.catalog__products {
  margin: 0 -33px 39px;

  @include px720 {
    margin: 0 -15px 39px;
  }
}

.catalog__filter {
  margin-bottom: 17px;
  margin-left: auto;
  max-width: 244px;
}

.catalog__cards-counter {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 200px;
}

.catalog__load-more-button {
  text-align: center;
}
