.catalog-page__catalog-top {
  margin-top: 74px;
  margin-bottom: 40px;

  @include max-lg {
    margin-top: 66px;
  }
}

.catalog-page__catalog {
  margin-bottom: 130px;
}

.catalog-page__products {
  @include max-md {
    justify-content: space-between;
    padding: 0 99px;
  }

  @include max-sm {
    padding: 0 50px;
  }

  @include max-xs {
    padding: 0 15px;
  }
}

.catalog-page__item {
  flex-basis: calc((100% - 66px * 4) / 4);
  margin: 22px 33px;

  @include max-xl {
    flex-basis: calc((100% - 66px * 3) / 3);
  }

  @include max-md {
    flex-grow: 1;
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-right: 0;
    margin-left: 0;
  }
}

.catalog-page__item .products-card__link {
  height: 270px;
}

.catalog-page__item:not(:nth-of-type(2n)) {
  @include max-md {
    margin-right: 35px;
  }

  @include max-xxs {
    margin-right: 0;
  }
}
