.dropdown-filter {
  position: relative;
  border: 2px solid $color-bunker;
}

.dropdown-filter__selected {
  position: relative;
}

.dropdown-filter__selected::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-image: url("../img/dropdown-arrow-ic.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transform-origin: center;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.dropdown-filter--active .dropdown-filter__selected::after {
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
}

.dropdown-filter__text {
  z-index: 5;
  overflow: hidden;
  margin: 0;
  padding: 13px 20px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-bunker;
  cursor: pointer;
}

.dropdown-filter__list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -164px;
  display: none;
  list-style-type: none;
  overflow-y: scroll;
  margin: 0;
  padding: 16px 0;
  max-height: 150px;
  box-shadow: 0 0 8px rgba($color-black, 0.4);
  background-color: $color-white;
  cursor: default;
}

.dropdown-filter__list--active {
  display: block;
}

.dropdown-filter__option {
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-filter__option:hover,
.dropdown-filter__option:focus {
  background-color: $color-athens-gray;
}
