.full-card-gallery__button {
  position: static;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 0;
  border: none;
  width: 12%;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  &:focus {
    @include outline;
  }

  @include hover {
    background-color: $color-athens-gray;
  }

  @include max-xs {
    width: 15%;
  }
}

.full-card-gallery__button--next {
  order: 3;
  margin-left: 10px;
}

.full-card-gallery__button--next::after {
  content: url("../img/icons/slider-right-arrow-ic.svg");
}

.full-card-gallery__button--prev {
  order: 1;
  margin-right: 10px;
}

.full-card-gallery__button--prev::after {
  content: url("../img/icons/slider-left-arrow-ic.svg");
}

.full-card-gallery__sliders {
  flex-grow: 1;
  order: 2;
  max-width: 400px;

  @include max-xs {
    width: 70%;
    max-width: unset;
  }
}

.full-card-gallery__slider {
  margin-bottom: 20px;

  @include max-xxs {
    margin-bottom: 0;
  }
}
