.full-card {
  display: flex;
  justify-content: center;

  @include max-md {
    flex-direction: column;
  }
}

.full-card__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $color-bunker;
}

.full-card__gallery {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
  margin-left: auto;
  padding-left: 15px;
  max-width: 570px;

  @include max-xl {
    margin-right: 0;
  }

  @include max-md {
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding-left: 0;
  }
}

.full-card__info {
  margin-right: auto;
  padding-left: 0;
  max-width: 570px;

  @include max-md {
    margin-right: 0;
    max-width: 100%;
  }
}
