.hero {
  background-color: $color-athens-gray;
}

.hero__container {
  display: flex;
  margin-top: -7px;

  @include max-lg {
    justify-content: space-between;
  }
}

.hero__link-arrow {
  flex-shrink: 0;
  align-self: flex-end;
  margin-right: 21px;
  margin-bottom: 48px;
  margin-left: 9px;
  width: 20px;
  height: 30px;
  background-image: url("../img/icons/arrow-bottom.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
  animation: jumping 2s ease-in-out infinite;

  &:focus {
    @include outline;
  }

  @include max-lg {
    flex-grow: 0;
    flex-basis: 20px;
    margin-right: 0;
  }
}

@keyframes jumping {
  0% {
    transform: translate(-50%, -5px);
  }

  50% {
    transform: translate(-50%, 5px);
  }

  100% {
    transform: translate(-50%, -5px);
  }
}

.hero__content {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 890px;

  @include max-lg {
    position: relative;
    flex-grow: 0;
    flex-basis: 80%;
    flex-direction: column;
    margin: 50px 0 0;
  }

  @include max-xs {
    flex-basis: 90%;
  }
}

.hero__container::after {
  @include max-lg {
    content: "";
    flex-basis: 20px;
    order: 3;
  }
}

.hero__text-content {
  margin-right: 51px;
  padding-top: 22px;

  @include max-lg {
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  @include max-xs {
    margin-bottom: 30px;
  }
}

.hero__slogan {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 1;
  color: $color-rolling-stone;
}

.hero__slogan-subject {
  display: block;
  margin-bottom: 18px;
  margin-left: -4px;
  font-family: "Anton", sans-serif;
  font-size: 128px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-bunker;

  @include max-xs {
    font-size: 110px;
  }

  @include max-xxs {
    font-size: 90px;
  }
}

.hero__button {
  padding-top: 22px;
}

.hero__media-content {
  position: relative;
  z-index: 20;
  margin: 50px;

  @include max-xs {
    margin: 30px;
  }

  @include max-xxs {
    margin: 20px;
  }
}

.hero__media-content::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: 10;
  width: 232px;
  height: 176px;
  background-image: url("../img/decor/right-stripes-decor.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @include max-xs {
    left: -30px;
    top: -30px;
    width: 170px;
    height: 130px;
  }

  @include max-xxs {
    left: -20px;
    top: -20px;
  }
}

.hero__media-content::after {
  content: "";
  position: absolute;
  right: -50px;
  bottom: -50px;
  z-index: 10;
  width: 232px;
  height: 176px;
  background-image: url("../img/decor/right-stripes-decor.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scaleX(-1);

  @include max-xs {
    right: -30px;
    bottom: -30px;
    width: 170px;
    height: 130px;
  }

  @include max-xxs {
    right: -20px;
    bottom: -20px;
  }
}

.hero__image {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
