.logo {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;

  &:focus {
    @include outline;
  }
}

.logo__image {
  display: block;
  width: 73px;
  height: 19px;
  object-fit: contain;
}
