.news-post {
  display: flex;
}

.news-post__outer {
  padding: 32px 70px 32px 0;
  background-image: url("../img/news-post-bg.png");
}

.news-post__inner {
  padding: 55px 43px 28px;
  background-color: $color-athens-gray;
}

.news-post__title {
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $color-bunker;
}

.news-post__date {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.news-post__description {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $color-rolling-stone;
}
