.news-post {
  display: flex;
  align-items: flex-start;

  @include px950 {
    flex-direction: column;
    align-items: center;
  }
}

.news-post__image-wrapper {
  flex-shrink: 2;

  @include px950 {
    flex: 1;
  }
}

.news-post__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.news-post__outer {
  flex: 1 1 470px;
  padding: 32px 70px 32px 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX25qRjQiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIyNy41IiBoZWlnaHQ9IjI3LjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgzOSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjI3LjUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIzIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX25qRjQpIiBvcGFjaXR5PSIxIi8+PC9zdmc+");

  @include px950 {
    flex-basis: auto;
    max-width: 700px;
  }

  @include px720 {
    padding: 32px 32px 32px 0;
  }

  @include px375 {
    padding: 20px 20px 20px 0;
  }
}

.news-post__inner {
  padding: 55px 43px 28px;
  max-width: 470px;
  background-color: $color-athens-gray;

  @include px950 {
    max-width: 700px;
  }

  @include px500 {
    padding: 35px;
  }

  @include px375 {
    padding: 35px 20px;
  }
}

.news-post__title {
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $color-bunker;

  @include px375 {
    font-size: 22px;
    line-height: 26px;
  }
}

.news-post__date {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.news-post__description {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $color-rolling-stone;
}
