.products-card__link {
  display: block;
  margin-bottom: 21px;
}

.products-card__image {
  display: block;
}

.products-card__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $color-bunker;
}

.products-card__price {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $color-bunker;
}
