.products-card__link {
  display: block;
  margin-bottom: 21px;
  transition: opacity 0.3s ease-in-out;

  &:focus {
    @include outline;
  }

  @include hover {
    opacity: 0.7;
  }
}

.products-card__image {
  display: block;
}

.products-card__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $color-bunker;
}

.products-card__price {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $color-bunker;
}
