.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 21px 0;
  background-color: $color-white;
  transition: box-shadow 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: $color-white;
  }

  @include max-md {
    padding: 16px 0;
  }
}

.site-header--shady {
  box-shadow: 0 0 8px rgba($color-bunker, 20%);
  transition: box-shadow 0.3s ease;
}

.site-header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include max-md {
    align-items: center;
  }
}

.site-header__burger-button {
  display: none;

  @include max-md {
    display: block;
    flex-basis: 45%;
  }
}

.site-header__logo {
  z-index: 101;
  flex-basis: 10%;
  order: 2;
  text-align: center;
}

.site-header__site-navigation {
  position: relative;
  z-index: 101;
  flex-basis: 45%;
  order: 1;

  @include max-md {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    overflow: hidden;
    box-shadow:
      inset 0 4px 4px -2px rgba($color-bunker, 20%),
      0 2px 4px 0 rgba($color-bunker, 20%);
    background-color: $color-white;
    transform: translateY(-100%);
    transition: transform 0.3s linear;
  }
}

.site-header__site-navigation--active {
  @include max-md {
    transform: translateY(100%);
    transition: transform 0.3s linear;
  }
}

.site-header__user-navigation {
  flex-basis: 45%;
  align-content: flex-end;
  order: 3;
}
