.site-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer-navigation__item {
  margin: 10px 17.5px;
}

.site-footer-navigation__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: $color-white;

  &:focus {
    @include outline;
  }

  @include hover {
    text-decoration: underline;
  }
}
