.sort-filter__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/dropdown-arrow-ic.svg");
    background-position: center;
    background-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.sort-filter__select {
  appearance: none;
  border: 2px solid $color-bunker;
  padding: 13px 17px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  color: $color-bunker;
  background-color: #fff;
  cursor: pointer;
}
